<span class="goddard-icon {{iconClass}}" [ngStyle]="{'width':iconSize == 30 ? '45px' : iconSize+'px','height':iconSize == 30 ? '45px' : iconSize+'px'}">

    <ng-template [ngIf]="iconName == 'Arrow-Down'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-arrow-down"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Apple'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-apple"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Beaker'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-beaker"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Bell'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-bell-alert"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Book'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-book"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Calculator'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-calculator"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Calendar'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-calendar-date"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span><span
                class="path11"></span><span class="path12"></span><span class="path13"></span><span
                class="path14"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Camera'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-camera"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Chart'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-chart-down"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Chart'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-chart-up"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Chat'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-chat-speech"><span class="path1"></span><span
                class="path2"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Clipboard'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-clipboard-list"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Clock'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-clock-time"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Cog'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-cog-settings"><span class="path1"></span><span
                class="path2"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Computer'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-computer-mouse"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Conversation'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-conversation-chat"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Dashboard'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-dashboard"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Document'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-document"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Earth'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-earth"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Envelope'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-envelope-mail"><span class="path1"></span><span
                class="path2"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Globe'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-globe"><span class="path1"></span><span class="path2"></span></span>
    </ng-template>

    <ng-template [ngIf]="iconName == 'Color-Graduation'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-graduation-cap"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Guitar'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-guitar"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Heart'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-heart"><span class="path1"></span><span class="path2"></span></span>
    </ng-template>

    <ng-template [ngIf]="iconName == 'Color-Key'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-key"><span class="path1"></span><span class="path2"></span></span>
    </ng-template>

    <ng-template [ngIf]="iconName == 'Color-Lightbulb'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-lightbulb"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Location'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-location-marker"><span class="path1"></span><span
                class="path2"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Lock'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-lock"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Magnify'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-magnify-search"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Man'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-man"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Music'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-music-notes"><span class="path1"></span><span
                class="path2"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Pencil'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-pencil-edit"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Phone'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-phone"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Pie'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-pie-chart"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Ribbon'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-ribbon"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Scissors'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-scissors-cut"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Star'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-star"><span class="path1"></span><span class="path2"></span></span>
    </ng-template>

    <ng-template [ngIf]="iconName == 'Color-Strategy'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-strategy-plan"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span><span
                class="path11"></span><span class="path12"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Telescope'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-telescope"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Trash'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-trash-delete"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Trophy'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-trophy"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Woman'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-woman"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Xylophone'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-xylophone"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span><span
                class="path21"></span><span class="path22"></span><span class="path23"></span><span
                class="path24"></span><span class="path25"></span><span class="path26"></span><span
                class="path27"></span><span class="path28"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'External-Link'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-externa-link"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Family'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-family"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span><span class="path13"></span><span class="path14"></span><span
                class="path15"></span><span class="path16"></span><span class="path17"></span><span
                class="path18"></span><span class="path19"></span><span class="path20"></span><span
                class="path21"></span><span class="path22"></span><span class="path23"></span><span
                class="path24"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'link-arrow'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-link-arrow"><span class="path1"></span><span class="path2"></span></span>
    </ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Apple'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-apple"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Beaker'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-beaker"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Bell'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-bell-alert"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Book'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-book"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Calculator'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-calculator"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Calendar'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-calendar-date"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Camera'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-camera"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Chart'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-chart-down"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Chart'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-chart-up"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Clipboard'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-clipboard-list"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Clock'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-clock-time"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Cog'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-cog"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Computer'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-computer-mouse"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Conversation'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-conversation-chat"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Dashboard'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-dashboard"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Document'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-document"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Earth'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-earth"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Envelope'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-envelope"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Globe'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-globe"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Graduation'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-graduation-cap"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Guitar'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-guitar"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Heart'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-heart"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Key'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-key"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Lightbulb'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-lightbulb"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Location'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-location-marker"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Lock'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-lock"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Magnify'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-magnify-search"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Man'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-man"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Music'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-music-notes"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Pencil'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-pencil"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Phone'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-phone"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Pie'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-pie-chart"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Scissors'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-scissors"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Speech'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-speech-button"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Star'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-star"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Strategy'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-strategy"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Telescope'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-telescope"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Trash'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-trash-delete"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Trophy'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-trophy"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Woman'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-woman"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Outline-Xylophone'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-outline-xylophone"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Puzzle-Piece'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-puzzle-piece"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Responsible-Decision'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-responsible-decision-making"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span><span
                class="path11"></span><span class="path12"></span><span class="path13"></span><span
                class="path14"></span><span class="path15"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'School'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-school"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Self-Awareness'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-self-awareness-lll"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span><span
                class="path11"></span><span class="path12"></span><span class="path13"></span><span
                class="path14"></span><span class="path15"></span><span class="path16"></span><span
                class="path17"></span><span class="path18"></span><span class="path19"></span><span
                class="path20"></span><span class="path21"></span><span class="path22"></span><span
                class="path23"></span><span class="path24"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Social-Awareness'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-social-awareness-lll"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span class="path7"></span><span
                class="path8"></span><span class="path9"></span><span class="path10"></span><span
                class="path11"></span><span class="path12"></span><span class="path13"></span><span
                class="path14"></span><span class="path15"></span><span class="path16"></span><span
                class="path17"></span><span class="path18"></span><span class="path19"></span><span
                class="path20"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Spanish'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-spanish"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Edit-White'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-edit-white"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Color-Covid'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-color-covid"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                class="path6"></span><span class="path7"></span><span class="path8"></span><span
                class="path9"></span><span class="path10"></span><span class="path11"></span><span
                class="path12"></span></span></ng-template>

    <ng-template [ngIf]="iconName == 'Edit-Blue'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-edit-blue"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Upload-Blue'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-upload-blue"></span></ng-template>

    <ng-template [ngIf]="iconName == 'Cross-Blue'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="{{iconClass}} gsi-icon-cross-blue"></span></ng-template>
    <ng-template [ngIf]="iconName == 'Outline-Null'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="gsi-icon-outline-null"></span></ng-template>
    <ng-template [ngIf]="iconName == 'Outline-Check'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="gsi-icon-outline-check"></span></ng-template>
    <ng-template [ngIf]="iconName == 'Outline-Plus'"> <span [ngStyle]="{'font-size':iconSize +'px'}"
            class="gsi-icon-outline-plus"></span></ng-template>
    <ng-template [ngIf]="iconName == 'Push-Button-Hand'">
        <span [ngStyle]="{'font-size':iconSize +'px'}" class="gsi-icon-push-button-hand">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
        </span>
    </ng-template>
</span>
