<div class="gsi-edit-trigger border-danger d-none" #editCardsTrigger>
    <button class="btn btn-danger py-3 px-4" (click)="getImageCards()">
        <span class="d-flex">
            <goddard-icons [iconClass]="['mr-2']" [iconName]="['Edit-White']" [iconSize]="[16]">
            </goddard-icons>
            <span>
                {{"Edit" | localize}}
            </span>
        </span>
    </button>
</div>

<!--Editing Trigger-->
<div appBsModal #editCardModal="bs-modal" class="modal modal-carousel fade" tabindex="-1" role="dialog" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>{{"Edit Content" | localize}}</span>
                    <goddard-tooltip [toolTipPath]="tooltips.HOMEPAGE_IMAGE_CARD_EDITOR"></goddard-tooltip>
                </h5>
                <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center p-4">
                    <div class="col-12">
                        <p class="h5 font-ramona  text-primary mb-5">
                            {{"Selected Cards" | localize}}
                        </p>
                    </div>
                    <div class="col-12 pb-5">
                        <div
                            class="gsi-home-page-cards d-flex rounded goddard-bg-cotton-candy justify-content-center align-items-stretch py-3">
                            <ng-container *ngFor="let card of selectedImageCards; let i = index">
                                <!--SELECTED CARD TEMPLATES-->
                                <div class="col-4 d-flex align-items-stretch" pDroppable="imageCards"
                                    (onDrop)="dropNewCard(i)" [attr.data-card-spot]="i">
                                    <div class="gsi-drop-zone-card d-flex align-items-stretch rounded border-dashed-primary w-100"
                                        pDroppable="selectedImageCards" (onDrop)="dropSortCards(i)"
                                        [attr.data-card-spot]="i">
                                        <div class="gsi-drop-card w-100 d-flex align-content-stretch flex-wrap  rounded overflow-hidden rounded border border-white"
                                            *ngIf="card" [attr.data-card-id]="card.name" pDraggable="selectedImageCards"
                                            (onDragStart)="dragStart($event, card)" (onDragEnd)="dragEnd($event, card)"
                                            [style]="'background-color:'+ card.backgroundColor">
                                            <div
                                                class="gsi-drop-card_picture d-flex align-items-center w-100 overflow-hidden">
                                                <img [src]="card.fileReference" class="gsi-image-card_image w-100" />
                                            </div>
                                            <div [class]="getCardClasses(card.backgroundColor)">
                                                <small [class]="getCardTitleClasses(card.backgroundColor)">
                                                    {{card.header}}
                                                </small>
                                                <br>
                                                <div
                                                    class="gsi-drop-card_copy d-flex flex-column justify-content-between">
                                                    <small [innerHtml]="card.description">
                                                    </small>
                                                    <small class="font-ramona" *ngIf="card.linkText">
                                                        <span [class]="getCardLinkClasses(card.backgroundColor)">
                                                            <i class="fa fa-arrow-right "></i>
                                                        </span>
                                                        {{card.linkText}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--END SELECTED CARD TEMPLATES-->
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-12 pb-5">
                        <div class="row no-gutters align-items-center">
                            <div class="col-1 text-right">
                                <i class="text-muted fa fa-arrow-up pr-2"></i>
                            </div>
                            <div class="col-10">
                                <span class="w-100 d-inline-block border-dashed-top"></span>
                            </div>
                            <div class="col-1">
                                <i class="text-muted fa fa-arrow-up pl-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <p class="h5 font-ramona  text-primary">
                            {{"Available Cards" | localize}}
                        </p>
                        <p>
                            {{l('HomePageCardsIntro')}}
                        </p>
                    </div>
                    <!--DROP ZONES-->
                    <div class="col-12 p-0 my-4" *ngIf="imageCards?.length && imageCardsLoaded">
                        <!--DROP CARD CAROUSEL -->
                        <p-carousel styleClass="gsi-card-carousel" [value]="imageCards" [numVisible]="maxCarouselCards"
                            [numScroll]="1">
                            <ng-template let-card pTemplate="item">
                                <div class="px-3 d-flex w-100 align-content-stretch">
                                    <div class="gsi-drop-card w-100 d-flex align-content-stretch flex-wrap  rounded overflow-hidden border border-dark rounded"
                                        *ngIf="card" [attr.data-card-id]="card.name" pDraggable="imageCards"
                                        (onDragStart)="dragStart($event, card)" (onDragEnd)="dragEnd($event, card)"
                                        [style]="'background-color:'+ card.backgroundColor">
                                        <div
                                            class="gsi-drop-card_picture d-flex align-items-center w-100 overflow-hidden">
                                            <img [src]="card.fileReference" class="gsi-image-card_image w-100" />
                                        </div>
                                        <div [class]="getCardClasses(card.backgroundColor)">
                                            <small [class]="getCardTitleClasses(card.backgroundColor)">
                                                {{card.header}}
                                            </small>
                                            <br>
                                            <div class="gsi-drop-card_copy d-flex flex-column justify-content-between">
                                                <small [innerHtml]="card.description">
                                                </small>
                                                <small class="font-ramona" *ngIf="card.linkText">
                                                    <span [class]="getCardLinkClasses(card.backgroundColor)">
                                                        <i class="fa fa-arrow-right "></i>
                                                    </span>
                                                    {{card.linkText}}
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>

                    <app-mailto-link mailto="fcp@goddardsystems.com" requestSubject="{{requestSubject}}"
                        linkText="HomePageImageCardRequest" [cssClasses]="'w-100 d-flex align-items-center'"
                        #mailToLink>
                    </app-mailto-link>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-light-primary" (click)="closeOrShowDiscardWarning()">{{"Cancel" |
                    localize}}</button>
                <app-save-button text="Save & Publish" (onClickEvent)="saveImageCards()" #saveButton
                    [disabled]="!pendingChanges()">
                </app-save-button>
            </div>
        </div>
    </div>
</div>

<!--Switch Image Modal -->
<goddard-confirmation-modal #discardChangesModal
    (accept)="discardChanges()"
    (reject)="closeDiscardChangesModal()"
    [modalType]="modalType.DiscardChanges"
    [useDefaultsForType]="true">
</goddard-confirmation-modal>
<!--Discard Modal -->
